body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: "Bradley Hand ITC", monospace;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    gap: 2rem;
}

button {
    width: 10rem;
    height: 10rem;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 600;
    box-shadow: 1px 1px 5px 1px #cfd6d9;
    border: 0 solid;
    border-radius: 12px;
}

.resetButton {
    width: 14rem;
    height: 4rem;
    display: block;
    margin: 0 auto;
    background-color: rgb(252, 252, 252);
    transition: background-color 0.5s cubic-bezier(.19,1,.22,1);
}

.resetButton:hover {
    background-color: #dee3ed;
}
